In [1]:
#Reader for Suicide File
import pandas as pd


csv_path = "reviseddata.csv"
suicide_df = pd.read_csv(csv_path, low_memory=False)
suicide_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/15/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,Total,Max,Min,Avg,2000.0,2001.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,-,-,-,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Kosovo,XKX,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,-,-,-,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,116.30,6.10,5.50,5.82,6.1,6.1,...,5.7,5.6,5.7,5.7,5.7,5.5,5.7,5.6,5.9,5.8
267,South Africa,ZAF,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,484.80,26.70,22.40,24.24,22.4,23.0,...,24.6,22.4,22.9,23.7,24.1,24.5,24.4,25.2,24.1,23.5
268,Zambia,ZMB,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,204.00,13.30,7.30,10.20,13.3,12.4,...,10.1,10.3,9.4,9.1,9.0,8.7,8.5,8.5,8.1,7.3
269,Zimbabwe,ZWE,"Suicide mortality rate (per 100,000 population)",SH.STA.SUIC.P5,331.40,22.20,12.80,16.57,13.3,12.8,...,21.5,20.7,19.7,18.6,18.2,18.0,16.8,15.0,14.0,14.1